<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wechat.mbg.mapper.ConsumptionSettlementMapper" >
  <resultMap id="BaseResultMap" type="wechat.mbg.entity.ConsumptionSettlement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="drama_id" property="dramaId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="total_cost" property="totalCost" jdbcType="DECIMAL" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="consumption_num" property="consumptionNum" jdbcType="INTEGER" />
    <result column="drama_name" property="dramaName" jdbcType="VARCHAR" />
    <result column="total_integral" property="totalIntegral" jdbcType="INTEGER" />
    <result column="drama_price" property="dramaPrice" jdbcType="DECIMAL"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, drama_id, create_time, coupon_id, balance, total_cost,integral,consumption_num,drama_name,total_integral,drama_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from consumption_settlement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--//根据用户openid查询积分详情-->
  <select id="showIntegralAndConsumptionById" resultType="wechat.mbg.entity.ConsumptionSettlement">
    select * from consumption_settlement where open_id=#{openId} order by create_time
  </select>
  <!--列表显示消费记录-->
  <select id="showConsumptionList" resultType="wechat.mbg.entity.ConsumptionSettlement">
    select * from consumption_settlement where 1=1
     and
     <if test="startTime!=null and ''!=startTime">
       create_time >= #{startTime}
     </if> and
    <if test="endTime!=null and ''!=endTime">
      create_time &lt;= #{endTime}
    </if>
     order by create_time DESC
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from consumption_settlement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wechat.mbg.entity.ConsumptionSettlement" >
    insert into consumption_settlement (id, open_id, drama_id, 
      create_time, coupon_id, balance, 
      total_cost)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{dramaId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{couponId,jdbcType=INTEGER}, #{balance,jdbcType=INTEGER}, 
      #{totalCost,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="wechat.mbg.entity.ConsumptionSettlement" >
    insert into consumption_settlement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="dramaId != null" >
        drama_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="totalCost != null" >
        total_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="dramaId != null" >
        #{dramaId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="totalCost != null" >
        #{totalCost,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wechat.mbg.entity.ConsumptionSettlement" >
    update consumption_settlement
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="dramaId != null" >
        drama_id = #{dramaId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="totalCost != null" >
        total_cost = #{totalCost,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wechat.mbg.entity.ConsumptionSettlement" >
    update consumption_settlement
    set open_id = #{openId,jdbcType=VARCHAR},
      drama_id = #{dramaId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      coupon_id = #{couponId,jdbcType=INTEGER},
      balance = #{balance,jdbcType=INTEGER},
      total_cost = #{totalCost,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>