<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wechat.mbg.mapper.DramaLibraryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wechat.mbg.entity.DramaLibrary">
        <id column="id" property="id" />
        <result column="drama_name" property="dramaName" />
        <result column="script_form" property="scriptForm" />
        <result column="script_difficulty" property="scriptDifficulty" />
        <result column="script_background" property="scriptBackground" />
        <result column="script_type" property="scriptType" />
        <result column="script_theme" property="scriptTheme" />
        <result column="drama_Introduction" property="dramaIntroduction" />
        <result column="drama_image" property="dramaImage" />
        <result column="price" property="price" />
        <result column="number_require" property="numberRequire" />
        <result column="delete_flage" property="deleteFlage" />
        <result column="on_shelf" property="onShelf" />
        <result column="creation_date" property="creationDate" />
        <result column="update_date" property="updateDate" />
        <result column="status" property="status" />
        <result column="counts" property="counts" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, drama_name, script_form, script_difficulty, script_background, script_type, script_theme, drama_Introduction, drama_image, price, number_require, isdeleted, on_shelf, creation_date, update_date, status ,counts
    </sql>
    <select id="getAll" resultType="wechat.vo.DramaLibraryVO">
SELECT
dl.id,
dl.drama_name,
dl.drama_image,
dl.drama_image,
dl.price,
dl.creation_date,
dl.number_require,
dl.public_link,
dl.status,
bl.script_background,
diff.degree_difficulty as scriptDifficulty,
fl.scriptForm,
tl.script_theme,
ty.script_type
FROM
drama_library dl LEFT JOIN script_background_library bl ON dl.script_background=bl.id
LEFT JOIN script_difficulty_library diff ON diff.id=dl.script_difficulty
LEFT JOIN script_form_library fl ON fl.id=dl.script_form
LEFT JOIN script_theme_library tl ON tl.id=dl.script_theme
LEFT JOIN script_type_library ty ON ty.id=dl.script_type
WHERE dl.delete_flage=0
 <if test="keyword != null and '' != keyword">
     AND dl.drama_name like concat('%' ,#{keyword},'%')
 </if>

    </select>
    <!--获取前10充值排行剧本-->
    <select id="showTopTenScripts" resultType="wechat.mbg.entity.DramaLibrary">
        select top 10 * from drama_library order by counts desc
    </select>

</mapper>
