<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wechat.mbg.mapper.MemberInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wechat.mbg.entity.MemberInfo">
        <id column="id" property="id" />
        <result column="nick_name" property="nickName" />
        <result column="open_id" property="openId" />
        <result column="telephone" property="telephone" />
        <result column="appsecret" property="appsecret" />
        <result column="app_id" property="appId" />
        <result column="gender" property="gender" />
        <result column="member_level" property="memberLevel" />
        <result column="is_admin" property="isAdmin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nick_name, open_id, telephone, appsecret, app_id, gender, member_level, is_admin
    </sql>

</mapper>
