<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wechat.mbg.mapper.RechargeRecordMapper" >
  <resultMap id="BaseResultMap" type="wechat.mbg.entity.RechargeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="member_discount" property="memberDiscount" jdbcType="INTEGER" />
    <result column="total_recharge" property="totalRecharge" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, balance, create_time, integral, member_discount, total_recharge
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from recharge_record
    where id = #{id,jdbcType=INTEGER}
  </select>


  <!--根据用户id显示充值详情-->
    <select id="showRechargeByIdInfo" resultType="wechat.mbg.entity.RechargeRecord">
      select * from recharge_record where open_id=#{openId}
       and
      <if test="startTime!=null and ''!=startTime">
        create_time >= #{startTime}
      </if>
       and
      <if test="endTime!=null and ''!=endTime">
        create_time &lt;= #{endTime}
      </if>
      order by create_time desc
    </select>
  <!--列表显示充值记录-->
  <select id="showRechargeInfo" resultType="wechat.mbg.entity.RechargeRecord">
    select * from recharge_record where 1=1
    and
    <if test="startTime!=null and ''!=startTime">
      create_time >= #{startTime}
    </if>
     and
    <if test="endTime!=null and ''!=endTime">
      create_time &lt;= #{endTime}
    </if>
      order by create_time desc
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from recharge_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wechat.mbg.entity.RechargeRecord" >
    insert into recharge_record (id, open_id, balance, 
      create_time, integral, member_discount, 
      total_recharge)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{balance,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{integral,jdbcType=INTEGER}, #{memberDiscount,jdbcType=INTEGER}, 
      #{totalRecharge,jdbcType=INTEGER})
  </insert>
  <!--新增充值-->
  <insert id="insertSelective" parameterType="wechat.mbg.entity.RechargeRecord" >
    insert into recharge_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        open_id,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="memberDiscount != null" >
        member_discount,
      </if>
      <if test="totalRecharge != null" >
        total_recharge,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="memberDiscount != null" >
        #{memberDiscount,jdbcType=INTEGER},
      </if>
      <if test="totalRecharge != null" >
        #{totalRecharge,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="wechat.mbg.entity.RechargeRecord" >
    update recharge_record
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="memberDiscount != null" >
        member_discount = #{memberDiscount,jdbcType=INTEGER},
      </if>
      <if test="totalRecharge != null" >
        total_recharge = #{totalRecharge,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wechat.mbg.entity.RechargeRecord" >
    update recharge_record
    set open_id = #{openId,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      integral = #{integral,jdbcType=INTEGER},
      member_discount = #{memberDiscount,jdbcType=INTEGER},
      total_recharge = #{totalRecharge,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>